rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    
    /**
     * Checks if the user is authenticated.
     */
    function isSignedIn() {
      return request.auth != null;
    }

    match /families/{familyId} {
      allow read, write: if isSignedIn();
    }

    // Allow authenticated users to read roles and permissions
    match /roles/{roleId} {
      allow read: if isSignedIn();
      allow write: if false; // Writes should be managed by secure logic
    }

    match /permissions/{roleId} {
      allow read: if isSignedIn();
      allow write: if false; // Only super admins should write, handled in-app logic
    }
  }
}
